html, body {
    background: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 2rem;
    color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }