html, body {
    background: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height:10px
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgb(64, 64, 64),gray);
    font-size: 3rem;
    color: transparent;
    height: 100%;
    width: 100%;
    transition: all 500ms;
    overflow: hidden;

    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
